{% extends 'base_generic.html' %}
{% load static %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
	<div class="row">
		{% for product in object_list %}
		<div class="col-lg-3">
			<img class="justify-content-center" src="{{product.imageURL}}" width="300" height="300">
			<div class="box-element product">
				<h6><strong>{{product.title}}</strong></h6>
				<hr>

				<button data-product="{{product.id}}" data-action="add" class="btn btn-outline-secondary add-btn update-cart">Add to Cart</button>
                <button type="button" class="view-book btn btn-outline-success" data-forma-url="{% url 'book_detail' product.pk %}">
                  <span class="fa fa-trash"></span>
                    View
                </button>
				<h4 style="display: inline-block; float: right"><strong>${{product.price}}</strong></h4>

			</div>
		</div>
		{% endfor %}
	</div>

    <script type="text/javascript" src="{% static 'js/cart.js' %}"></script>

    {% block extrascripts %}
      <script type="text/javascript">
          $(function () {
                // View book button
            function ViewBookModalForm() {
                $(".view-book").each(function () {
                    $(this).modalForm({formURL: $(this).data("forma-url")});
                });
              }
              ViewBookModalForm();
          });
      </script>
    {% endblock extrascripts %}

{% endblock content %}