{% extends 'base_generic.html' %}
{% load static %}


{% block content %}
    <style>
   body {
    background-image: url({% static 'images/photo-1514810771018-276192729582.jpeg' %}); /* Адрес картинки */
    background-size: 103%;
   }
   .i-am-centered {
    margin: auto;
    max-width: 400px;
    padding-top: 20%;
   }
  </style>
    <body>
    <div style="margin-top: 80px !important;">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vitae tortor vel ante commodo suscipit sed vel lectus. Maecenas et pretium leo, ac laoreet mi. In porttitor tincidunt vehicula. Ut a ex eget lectus euismod bibendum vitae quis augue. Phasellus ut tempus mauris. Maecenas semper risus ut ligula lacinia, id ultricies magna aliquam. Praesent at fermentum urna. Cras porta justo id ultricies varius. Aliquam blandit commodo eros. Praesent metus risus, efficitur vel pulvinar vitae, porta malesuada massa. Fusce quis tellus est.

Nam et pretium dui, ac laoreet ex. Suspendisse pharetra eros tortor, eget sollicitudin dolor consectetur ut. Cras tincidunt enim mauris, ut tincidunt est consequat sed. Donec non aliquam nibh, vel bibendum diam. Morbi est purus, congue a eros sed, rutrum congue odio. Proin nec diam vulputate, faucibus dui a, ornare risus. Morbi suscipit nunc tempus ligula pharetra sodales.

Pellentesque magna lectus, aliquet non rhoncus id, maximus pharetra massa. Nam rutrum, urna vel vehicula laoreet, turpis diam commodo libero, in cursus mi turpis at velit. Nunc sagittis pretium erat consequat vestibulum. Cras euismod non enim sed euismod. Morbi porttitor dictum erat, et sodales nibh facilisis ac. Nunc condimentum ornare ultricies. Proin ornare ex sit amet eleifend vehicula. Quisque nunc nibh, imperdiet a risus nec, dignissim scelerisque turpis. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean semper lacus at massa elementum, at rutrum tortor convallis. Vestibulum convallis finibus commodo. Mauris cursus maximus ipsum, pharetra vestibulum sem pretium a. Vestibulum lobortis mauris ac mattis porta. Sed a egestas enim. Praesent sit amet dapibus odio.

Aliquam id consectetur nunc. Maecenas interdum augue vehicula maximus pharetra. Etiam sodales convallis eros, eget elementum nibh consequat vel. Duis id consequat sem. Aliquam condimentum ante et ante eleifend ultricies. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Nam at turpis ultricies, imperdiet est at, laoreet arcu. Suspendisse finibus gravida mi vitae iaculis. Aliquam erat volutpat. Cras convallis ipsum mauris, a condimentum elit maximus non. Morbi id ultricies erat.

Nulla vel egestas odio, eget pharetra urna. Integer augue neque, malesuada eu rhoncus in, fermentum sed odio. Vestibulum tincidunt egestas mollis. Donec sed ante at elit hendrerit tristique. Aliquam condimentum vestibulum sollicitudin. Donec sit amet arcu bibendum, blandit neque varius, suscipit sapien. Donec eu est quam. Donec gravida et ante faucibus gravida. Nullam viverra nisl a imperdiet sodales. Sed cursus lorem tristique felis vehicula congue. In facilisis lorem eget ipsum eleifend consequat. Aenean nec orci eros. Vestibulum nisl erat, porta nec varius vitae, dignissim vitae turpis. Sed id pretium elit. Maecenas maximus mauris in dolor elementum aliquam.

Morbi ultrices elit sed metus sollicitudin, a suscipit ligula vulputate. Etiam quis dolor erat. Donec blandit sapien bibendum, lobortis tortor a, lobortis orci. Vestibulum ultrices at lacus a pretium. Nunc condimentum condimentum felis, pretium tempor enim iaculis sit amet. Ut et ligula neque. Curabitur maximus nisl quis turpis posuere rutrum. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Quisque eros urna, mollis rutrum ultrices ut, vestibulum ut.
    </div>
  </body>
{% endblock %}