{% load static %}

<div class="modal fade bd-example-modal-lg" aria-labelledby="myLargeModalLabel" aria-hidden="true" id="create-modal">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content"></div>
    </div>
</div>

<div class="modal fade bd-example-modal-lg" aria-labelledby="myLargeModalLabel" aria-hidden="true" tabindex="-1" role="dialog" id="modal">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content"></div>
  </div>
</div>

<div class="modal fade bd-example-modal-lg" aria-labelledby="myLargeModalLabel" aria-hidden="true" id="modal-book">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content"></div>
    </div>
</div>
